<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Lectio" %></title>
    <link rel="stylesheet" href="/css/lectio.css">
    <link rel="apple-touch-icon" href="/assets/icons/logo/apple-touch-icon.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#2d2dff">

    <link rel="apple-touch-icon" href="/assets/icons/logo/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body>
    <%- include('../partials/header') %>
    <button id="installApp" style="display:none;">Installer Lectio</button>

    <main>
        <%- body -%>
    </main>
    <%- include("../partials/login") %>
    <%- include('../partials/footer') %>


    <script type="module" src="/js/lectio.js"></script>
    <script>
        if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/sw.js")
            .then(() => console.log("Service Worker registered"));
        }
    </script>
    <script>

        document.addEventListener("DOMContentLoaded", () => {

        let deferredPrompt;
        const installBtn = document.getElementById("installApp");

        if (!installBtn) return;

        // détection iOS
        const isIOS = /iphone|ipad|ipod/.test(window.navigator.userAgent.toLowerCase());

        // détection si déjà installé
        const isInStandaloneMode = window.matchMedia('(display-mode: standalone)').matches;

        if (isIOS && !isInStandaloneMode) {
            installBtn.style.display = "block";
        }

        window.addEventListener("beforeinstallprompt", (e) => {

            e.preventDefault();
            deferredPrompt = e;

            installBtn.style.display = "block";

        });

        installBtn.addEventListener("click", async () => {

            if (deferredPrompt) {

                deferredPrompt.prompt();
                await deferredPrompt.userChoice;
                deferredPrompt = null;

            } else if (isIOS) {

                alert(
                    "Pour installer Lectio :\n\n1️⃣ Appuyez sur 'Partager'\n2️⃣ Puis 'Ajouter à l'écran d'accueil'"
                );

            }

        });

        });

    </script>
</body>

</html>